autom4te.cache
Makefile.in
aclocal.m4
configure
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
output.*
traces.*
requests
config.log
config.status
.deps
.dirstamp
*.o
*.lo
Makefile
stamp-h1
.libs
examples/assertion/assertion
examples/fall/fall
examples/multi_assert/multi_assert
examples/multi_case/multi_case
examples/multi_expect/multi_expect
examples/pat_c/pat_c
examples/performance/performance
examples/smoke/smoke
lib/libpat.la
lib/pat.pc
libtool
scripts/
Config.h.in~
