Source: pat
Priority: extra
Maintainer: TDYa127 <a127a127@skymizer.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pat.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pat.git;a=summary

Package: pat-dev
Section: libdevel
Architecture: any
Depends: pat (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: pat
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
